<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<header>
    <h1>Frame Matcher</h1>
</header>

<body>
    <div class="upload_menu">
        <form method="post" enctype=multipart/form-data action="/uploader2">
            <div class="second_file">
                <label for="file2">Frame 2 (Required)</label>
                <input type="file" id="file2" name="file2" accept=".csv , .xlsx, .txt">
            </div>
            <div class="submit">
                <button>Click to go to Column Matching Page</button>
            </div>
        </form>
        <div class="shutdown">
            <form method="post" action="/shutdown" class="shutdown">
                <button>End Program</button>
            </form>
        </div>
    </div>
</body>
</html>